@use "./theme.scss" as *;

body {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    background-color: $background-primary;
    color: $text-primary;
}

header {
    background-color: $accent-color;
    padding: 20px;
    color: white;
    text-align: center;
}

h1 {
    font-size: $text-3xl;
    font-weight: $font-bold;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: $text-base;
}

nav a:hover {
    background-color: $background-primary;
    color: black;
}

.hero {
    font-size: $text-lg;
    margin: 20px 0;
    color: $text-secondary;
}

.cta-button {
    background-color: $accent-color;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: $text-lg;
    margin-top: 20px;
    display: block;
    text-align: center;
    margin: 0 auto;
    
}

.cta-button :hover {
    background-color: ($accent-color, -10%);
}
